<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>LostLynx</title>
=======
    <title>EmployeesList</title>
>>>>>>> b348cdbb2e53256f57ed7bdaccfdec7147309c95
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
